html {
	background-color: #fefefe;
}


#container {
	width: 600px;
	height:400px;
	margin: 0 auto;
}


.trump {
	margin-top: 30px;
	position: relative;
	width:150px;
	height: 200px;
	border: 2px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;

}

.trump:before {
	position: absolute;
	top:0px;
	right: 0px;
}

.trump:after {
	
	position: absolute;
	bottom: 0px;
	left: 0px;
}

h1 {
	font-size: 45px;
	line-height: 200px;
}

/*--ハートーー*/
.trump.heart:before,
.trump.heart:after {
	content: url(heart.jpg);
}


/*--スペードーー*/
.trump.spade:before,
.trump.spade:after {
	content: url(spade.gif);
}

/*--クロバーーー*/
.trump.clover:before,
.trump.clover:after {
	content: url(clover.jpg);
}

/*--*/
.trump.diamond:before,
.trump.diamond:after{
	content: url(diamond.jpg);
}